{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    <script src="{{ url_for('static',filename='/js/main.js') }}"></script>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="row change-password-form" style="padding-top: 23px">
  <div class="col-md-4 offset-md-4" id="register-container">
    <h3 style="margin-bottom: 30px">Change password</h3>
    <form action="{{ url_for('auth.change_password') }}" method="POST" class="custom-form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="change-current-password">Current password</label>
        {{ form.current_password(class="form-control", type="password", id="change-current-password") }}
        {% for error in form.current_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="change-new-password">New password</label>
        {{ form.new_password(class="form-control", type="password", id="change-new-password") }}
        {% for error in form.new_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-group">
        <label for="change-new-password2">Repeat new password</label>
        {{ form.new_password2(class="form-control", type="password", id="change-new-password2") }}
        {% for error in form.new_password2.errors %}
            <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="form-check" style="padding: 0px; margin-top: 35px">
        {{ form.submit(class="btn btn-light btn-block submit-button", type="submit", id="btn-register") }}
      </div>
    </form>
  </div>
</div>

{% endblock %}