{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="row register-form" style="padding-top: 23px">
    <div class="col-md-4 offset-md-4" id="register-container">
        <h2>Register</h2>
        <form action="{{ url_for('auth.register') }}" method="POST" class="custom-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="register-firstname">First Name</label>
                {{ form.first_name(class="form-control", type="text", id="register-firstname") }}
                {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}    
            </div>
            <div class="form-group">
                <label for="register-lastname">Last Name</label>
                {{ form.last_name(class="form-control", type="text", id="register-lastname") }}
                {% for error in form.last_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}    
            </div>
            <div class="form-group">
                <label for="login-email">Email address</label>
                {{ form.email(class="form-control", type="email", id="register-email") }}
                {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="register-password">Password</label>
                {{ form.password(class="form-control", type="password", id="register-password") }}
                {% for error in form.password.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}    
            </div>
            <div class="form-group">
                <label for="register-password2">Confirm password</label>
                {{ form.password2(class="form-control", type="password", id="register-password2") }}
                {% for error in form.password2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}    
            </div>
            <div class="form-check" style="padding: 0px; margin-bottom: 20px;">
                {{ form.submit(class="btn btn-light btn-block submit-button", type="submit", id="btn-register") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}