{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
  <div class="row change-password-form" style="padding-top: 23px">
    <div class="col-md-4 offset-md-4" id="register-container">
      <h1>Reset Password</h1>
      <form action="{{ url_for('auth.reset_password_request') }}" method="post">
        {{ form.hidden_tag() }}

        <div class="form-group">
          <label for="resetPassword-email">Email</label>
            {{ form.email(class="form-control", type="text", id="resetPassword-email") }}
            {% for error in form.email.errors %}
              <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-check" style="padding: 0px; margin-top: 35px">
          {{ form.submit(class="btn btn-light btn-block submit-button", type="submit", id="btn-register") }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}