{% extends "layout.html" %}

{% block title %} CodeTutors - Access Forbidden 404 {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details mt-3" style="margin-top=35px">
                    Sorry, an error has occurred, Requested page not found!
                </div>
                <div class="error-actions mt-3" style="margin-top=45px">
                    <a href="{{ url_for('main.home') }}" class="btn btn-primary btn-lg">
                        Return  </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}