body {
	/* modified the properties below to give a dark mode aesthetic, I can just delete that if I want to */
	background-color: #191B1C;
	color: white;
}

.bg-dark {
	background-color: #2C2F31!important;
}

.table {
	color: white;
}

ul, li {
	list-style-type: none;
	padding: 6px;
}

@media (min-width: 992px) {
	body {
		padding-top: 100px;
	}
	#mainNav {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.message-content-col {
		width: 650px;
	}
}

@media (max-width: 991px) {
	body {
		padding-top: 70px;
	}
	#dashboard-link {
		margin-left: 10px;
	}
	.message-content-col {
		width: 450px;
	}
}

@media (max-width: 575px) {
	body {
		padding-top: 70px;
	}
	.message-content-col {
		width: 250px;
	}
}

#upload-photo-btn {
	margin-top: 20px;
}

.modal .modal-content {
	background: #262a2e;
}

.profile-header {
	flex-wrap: nowrap;
}

.photo-col {
	width: 150px;
	text-align: center;
}

#signin-container {
	margin: 0 50px;
}
#register-container {
	margin: 0 50px;
}
.message-photo-col {
	display: contents;
}

.message-row {
	display: flex;
	justify-content: space-around;
}

.paginator-container {
	display: flex;
	justify-content: center;
}

.img-messages {
	margin-right: 12px;
}

.message-container {
	margin-bottom: 15px;
	flex-wrap: nowrap;
}

.img-messages {
	width: 45px;
	height: 45px;
	border-radius: 10%;
}

#btn-signup {
	height: 40px;
	margin-left: 8px;
}

.navbar-nav {
	align-items: center;
}

#btn-login, #btn-register {
	background-color: #fed136;	
}

.row-profile-field {
	margin: 7px 0;
}

.row-category-field {
	margin-top: 12px;
}

.col-profile-field {
	padding: 0;
}

.profile-info-container {
	padding: 0;
}

.profile-img-container {
	padding: 0;
}

.img-avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	border-radius: 10%;
	width: 80px;
	height: 80px;
  }

.img-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.user-photo-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 200px;
}