<table class="table table-hover">
        <tr>
            <td width="70px">
                {% if message.author.is_tutor() %}
                <a href="{{ url_for('main.profile', tutor_id=message.author.tutor.id) }}">
                {% endif %}
                    {% if message.author.profile_img %}
                    <img class="avatar" src="{{ url_for('main.display_image', filename=message.author.profile_img) }}" alt="User thumbnail">
                    {% else %}
                    <img class="avatar" src="{{ message.author.avatar() }}" alt="User thumbnail">
                    {% endif %}
                {% if message.author.is_tutor() %}
                </a>
                {% endif %}
            </td>
            <td>
                {% if message.author.is_tutor() %}
                    {% set user_link %}
                        <span class="user_popup">
                            <a href="{{ url_for('main.profile', tutor_id=message.author.tutor.id) }}">
                                {{ message.author.first_name }} {{ message.author.last_name }}
                            </a>
                        </span>
                    {% endset %}
                    {{ user_link }} said {{ message.timestamp }}
                {% else %}
                    {{ message.author.first_name }} {{ message.author.last_name }} said {{ message.timestamp }}
                {% endif %}
                <br>
                <span id="message{{ message.id }}">{{ message.body }}</span>
            </td>
        </tr>
    </table>