{% extends 'layout.html' %}

{% block head %}
    <script src="{{ url_for('static',filename='/js/main.js') }}"></script>
{% endblock %}

{% block content %}

<div class="password-container container-fluid">
<h3>Change password</h3>
<form action="{{ url_for('dashboard') }}" method="POST">
{{ password_form.csrf_token() }}
    <div class="fields-container">
        <div class="row justify-content-center">
            <div class="col-4">{{ password_form.current_password.label }}</div>
            <div class="col-8">{{ password_form.current_password }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">{{ password_form.new_password.label }}</div>
            <div class="col-8">{{ password_form.new_password }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">{{ password_form.new_password_2.label }}</div>
            <div class="col-8">{{ password_form.new_password_2 }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col">{{ password_form.save }}</div>
        </div>
    </div>
</div>
</form>

{% endblock %}