{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {# {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.first_name }}!</h1>
    {% endif %} #}

<div class="profiles-container container-fluid">

{% for user in result %}
<div class="profile-container container-fluid">
    <div class="row justify-content-center">
        <div class="profile-image col-3">
        <ul>
            {% if user.profile_img %}
                <li class="d-flex justify-content-center"><img class="avatar" src="{{ url_for('display_image', filename=user.profile_img) }}" alt="User thumbnail"></li>
            {% else %}
                <li><img class="avatar" src="{{ user.avatar() }}" alt="User thumbnail"></li>
            {% endif %}
            {% if user.is_tutor() and user.tutor.telephone %}
                <li>{{ user.tutor.telephone }}</li>
            {% endif %}
        </ul>
        </div>
        <div class="col-9 justify-content-center">
            {% if user.is_tutor() %}
            <li><a href="{{ url_for('profile', tutor_id=user.tutor.id) }}"><h3>{{ user.first_name }} {{ user.last_name }}</h3></a></li>
            {% else %}
            <li><h3>{{ user.first_name }} {{ user.last_name }}</h3></li>
            {% endif %}
            {% if user.is_tutor() and user.tutor.price %}
                <li>$ {{ user.tutor.price }}</li>
            {% endif %}
            {% if user.is_tutor() %}
            <li>Rating: {{ user.tutor.get_average_ratings() }} ({{ user.tutor.count_ratings() }}) reviews</li>
            {% endif %}
            {% if user.is_tutor() and user.tutor.about_me %}
                <li>{{ user.tutor.about_me }}</li>
            {% endif %}
            {% if user.is_tutor() %}
            <li>Categories:&nbsp</li>
                {% for c in user.tutor.get_categories() %}
                <a href="{{ url_for('category', category_id=c.id) }}" class="btn btn-outline-success btn-sm">{{ c.name }}</a>&nbsp
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>
{% if prev_url %}
<a href="{{ prev_url }}">Previous page</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Next page</a>
{% endif %}

{% endblock %}