<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- My custom CSS file -->
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/main.css') }}">
    
    <meta name="csrf-token" content="{{ csrf_token() }}">
    {% block head %} {% endblock %}

    <!-- JS, Popper.js, and jQuery -->
    <script src="{{ url_for('static',filename='js/lib/jquery-3.5.1.min.js') }}"></script>
    {# <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> #}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
        <a href="{{ url_for('index') }}" class="navbar-brand ml-2">Code Tutors</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
            <ul class="navbar-nav ml-4">
                <li class="nav-item dropdown ml-4">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">
                        <span class="caret">Find Tutors</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown_target">
                        <a href="#" class="dropdown-item">Python</a>
                        <a href="#" class="dropdown-item">Javascript</a>
                        <a href="#" class="dropdown-item">HTML/CSS</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Become a Mentor</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item mr-2">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('register') }}" class="nav-link btn btn-outline-primary">Sign up</a>
                    </li>
                    {% else %}
                    {# Brings a dropdown with the dashboard links #}
                    <li class="nav-item dropdown mr-2">
                        <a href="{{ url_for('dashboard') }}" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">
                            <span class="caret">{{ current_user.first_name }}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_target">
                            <a href="{{ url_for('dashboard') }}" class="dropdown-item">Dashboard</a>
                            <a href="{{ url_for('change_password') }}" class="dropdown-item">Change password</a>
                            <a href="{{ url_for('following') }}" class="dropdown-item">Following</a>
                        </div>
                    </li>

                    {% endif %}

                <li class="nav-item">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    {# this shows all flashed messages altogether (yes bootstrap) #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-{{ messages.0.0 }}" role="alert">
        {% for category, message in messages %}
            {{ message }} <br>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    {% block content %}

    {% endblock %}
</body>
</html>