<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Want to become a programmer? Find a tutor to help you gain time and experience!">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %} {% endblock %}</title>
    
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Team-Boxed.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    {% block head %} {% endblock %}
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand" data-toggle="tooltip" data-bs-tooltip="" href="{{ url_for('main.index') }}">Code Tutors</a>
            <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse js-scroll-trigger" href="#portfolio" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('main.home') }}">Find a tutor</a></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Categories</a>
                        <div class="dropdown-menu">
                            {% for category in clever_function() %}
                            <a href="{{ url_for('main.category', category_id=category.id) }}" class="dropdown-item">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
                        {% endif %}
                    </li>
                    {% if not current_user.is_anonymous %}
                        <li class="nav-item dropdown">
                            <div class="user-photo-container">
                                {% if current_user.profile_img %}
                                    <img class="img-icon" src="{{ url_for('main.display_image', filename=current_user.profile_img) }}" alt="User thumbnail">
                                {% else %}
                                    <img class="img-icon" src="{{ current_user.avatar() }}" alt="User thumbnail">
                                {% endif %}
                                <a href="{{ url_for('main.dashboard') }}" id="dashboard-link" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target">
                                    <span class="caret">{{ current_user.first_name }}</span>
                                    {% set new_messages = current_user.new_messages() %}
                                    {% if new_messages %}
                                        <span id="message_count" class="badge"
                                            style="visibility: {% if new_messages %}visible
                                                            {% else %}hidden {% endif %};">
                                        {{ new_messages }}
                                    </span>
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown_target">
                                  {% if current_user.is_tutor() %}
                                  <a href="{{ url_for('main.profile', tutor_id=current_user.tutor.id) }}" class="dropdown-item">My profile</a>
                                  {% endif %}
                                  <a href="{{ url_for('main.dashboard') }}" class="dropdown-item">Dashboard</a>
                                  <a href="{{ url_for('main.messages') }}" class="dropdown-item">
                                      Messages
                                      {% if new_messages %}
                                      <span id="message_count" class="badge"
                                          style="visibility: {% if new_messages %}visible
                                                              {% else %}hidden {% endif %};">
                                          {{ new_messages }}
                                      </span>
                                      {% endif %}
                                  </a>
                                  <a href="{{ url_for('main.following', user_id=current_user.id) }}" class="dropdown-item">Following</a>
                                  <a href="{{ url_for('main.my_reviews') }}" class="dropdown-item">My reviews</a>
                                  <a href="{{ url_for('auth.logout') }}" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('auth.register') }}" class="btn btn-outline-primary d-xl-flex" id="btn-signup" type="button">Sign up</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
        
    <div class="container-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages.0.0 }}" role="alert">
            {% for category, message in messages %}
                {{ message }} <br>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>
    
    {% block content %}

    {% endblock %}


    {% block scripts %}
        <script>
            function set_message_count(n) {
                $('#message_count').text(n);
                $('#message_count').css('visibility', n ? 'visible' : 'hidden');
            }
            {% if current_user.is_authenticated %}
            $(function() {
                var since = 0;
                setInterval(function() {
                    $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                        function(notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if (notifications[i].name == 'unread_message_count')
                                    set_message_count(notifications[i].data);
                                since = notifications[i].timestamp;
                            }
                        }
                    );
                }, 10000);
            });
            {% endif %}

        </script>
    {% endblock %}

</body>
</html>