{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static',filename='js/main.js') }}"> </script>
{% endblock %}

{% block content %}

<input id="user-id" name="user-id" type="hidden" value="{{current_user.get_id()}}">
<input id="tutor-id" name="tutor-id" type="hidden" value="{{tutor.id}}">
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-3 pl-3 pt-3">
            {% if user.profile_img %}
            <img class="avatar" src="{{ url_for('display_image', filename=user.profile_img) }}" alt="User thumbnail">
            {% else %}
            <img class="avatar" src="{{ user.avatar() }}" alt="User thumbnail">
            {% endif %}
        </div>
        <div class="col-9 pl-3 pt-3">
            <div class="row">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1><br>
            </div>
            <div class="row pt-3">
                {% if user.about_me %}
                {{ user.about_me.label }} {{ user.about_me }}
                {% endif %}
            </div>
            <div class="row">
                <span>Followers: <label id="followers-count">{{ tutor.followers_total() }}</label></span>
            </div>
            <div class="row">
                <span><a href="{{ url_for('following') }}">Following: </a><label id="following-count">{{ user.following_total() }}</label></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {% if is_owner and is_tutor %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% else %}
                <a href="{{ url_for('follow_unfollow', tutor_id=tutor.id) }}" id="follow-unfollow-btn"></a>
            {% endif %}
        </div>
        <div class="col-9">
        
        </div>    
    </div>
</div>

{% endblock %}