{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static',filename='js/main.js') }}"> </script>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<input id="user-id" name="user-id" type="hidden" value="{{current_user.get_id()}}">
<input id="tutor-id" name="tutor-id" type="hidden" value="{{tutor.id}}">
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-3 pl-3 pt-3">
            {% if user.profile_img %}
            <img class="avatar" src="{{ url_for('main.display_image', filename=user.profile_img) }}" alt="User thumbnail">
            {% else %}
            <img class="avatar" src="{{ user.avatar() }}" alt="User thumbnail">
            {% endif %}
        </div>
        <div class="col-9 pl-3 pt-3">
            <div class="row">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1><br>
            </div>
            <div class="row pt-2">
                <li>Rating: {{ user.tutor.get_average_ratings() }} ({{ user.tutor.count_ratings() }}) reviews</li>
            </div>
            <div class="row pt-3">
                {% if tutor.about_me %}
                {{ tutor.about_me.label }} {{ tutor.about_me }}
                {% endif %}
            </div>
            <div class="row pt-2 pb-4">
                <b>Categories:&nbsp</b>
                {% for c in tutor.get_categories() %}
                <a href="{{ url_for('main.category', category_id=c.id) }}" class="btn btn-outline-success btn-sm">{{ c.name }}</a>&nbsp
                {% endfor %}
            </div>
            <div class="row">
                <a href="{{ url_for('main.followers', tutor_id=tutor.id) }}">Followers: </a><label id="followers-count">{{ tutor.followers_total() }}</label>
            </div>
            <div class="row">
                <a href="{{ url_for('main.following', user_id=user.id) }}">Following: </a><label id="following-count">{{ user.following_total() }}</a>
            </div>
            <div class="row pt-4 pb-3">
                <h4>Reviews:</h4>
            </div>
            {% for review in result %}
            <div class="row pl-2 pb-3">
                Name: {{ review.user.first_name }}<br>
                Rating: {{ review.rating }}<br>
                Title: {{ review.title }}<br>
                Comment: {{ review.comment }}<br>
            </div>
            {% endfor %}

            <!-- TODO: Add a validation 'if the user is not logged in' along with 'not is_owner' -->
            {% if not is_owner and current_user.is_authenticated %}
                {% if current_user.has_rated_tutor(tutor) %}
                <a href="{{ url_for('main.add_review', tutor_id=tutor.id) }}">Edit review</a><br>
                {% else %}
                <a href="{{ url_for('main.add_review', tutor_id=tutor.id) }}">Write a review<a/><br>
                {% endif %}
            {% endif %}

            {% if prev_url %}
            <a href="{{ prev_url }}">Previous page</a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}">Next page</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {% if is_owner %}
            <a href="{{ url_for('main.edit_profile') }}">Edit your profile</a>
            {% else %}
                <a href="{{ url_for('main.follow_unfollow', tutor_id=tutor.id) }}" id="follow-unfollow-btn"></a>
            {% endif %}
            {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message',
                                        user_id=user.id) }}">
                        Send private message
                    </a>
                </p>
            {% endif %}
        </div>
        <div class="col-9">
        
        </div>    
    </div>
</div>

{% endblock %}