{% extends "layout.html" %}

{% block head %}
<script src="{{ url_for('static',filename='js/main.js') }}"> </script>
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<input id="user-id" name="user-id" type="hidden" value="{{current_user.get_id()}}">
<input id="tutor-id" name="tutor-id" type="hidden" value="{{tutor.id}}">
<div class="container">
    <div class="row profile-header">
        <div class="col-md-3 col-xl-2 photo-col">
            {% if user.profile_img %}
                <img class="img-avatar" src="{{ url_for('main.display_image', filename=user.profile_img) }}" alt="User thumbnail">
            {% else %}
                <img class="img-avatar" src="{{ user.avatar() }}" alt="User thumbnail">
            {% endif %}
        </div>
    
        <div class="col-md-9 col-xl-10 offset-xl-0">
            <div class="row">
                <div class="col">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2><br>
                </div>
                <div class="col">
                    {% if user != current_user and current_user.is_authenticated %}
                        <!-- Button trigger modal --> 
                        <a href="{{ url_for('main.send_message', user_id=user.id) }}" class="btn btn-outline-primary btn-sm"
                            data-toggle="modal" data-target="#messageModal">
                            Send message
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col mt-1 mb-1">
                    {% if is_owner %}
                        <a href="{{ url_for('main.edit_profile') }}">Edit your profile</a>
                    {% else %}
                        <a href="{{ url_for('main.follow_unfollow', tutor_id=tutor.id) }}" id="follow-unfollow-btn"></a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col mt-1 mb-1">
                    
                </div>
            </div>
            <div class="row">
                <div class="col mt-1 mb-1">
                    <span class="col-form-label">$ {{ user.tutor.price }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col mt-1 mb-1">
                    <span class="col-form-label">Rating: {{ user.tutor.get_average_ratings() }} ({{ user.tutor.count_ratings() }}) reviews</span>
                </div>
            </div>
            {% if tutor.about_me %}
                <div class="row">
                    <div class="col mt-1 mb-1">
                        <span class="col-form-label">About me: {{ tutor.about_me }}</span>
                    </div>
                    
                </div>
            {% endif %}
            <div class="row">
                <div class="col mt-3 mb-3">
                    <span class="col-form-label">
                        <b>Categories:&nbsp</b>
                        {% for c in tutor.get_categories() %}
                            <a href="{{ url_for('main.category', category_id=c.id) }}" class="btn btn-outline-success btn-sm">{{ c.name }}</a>&nbsp
                        {% endfor %}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col mt-1 mb-1">
                    <a href="{{ url_for('main.followers', tutor_id=tutor.id) }}">Followers: </a><label id="followers-count">{{ tutor.followers_total() }}</label>&nbsp
                    <a href="{{ url_for('main.following', user_id=user.id) }}">Following: </a><label id="following-count">{{ user.following_total() }}</a>
                </div>
            </div>

            <div class="row pt-3 pb-3">
                <div class="col">
                    <h3 class="pb-3">Reviews</h3>
                    {% for review in result %}
                        <div class="row">
                            <div class="col">
                                <span>Name: &nbsp{{ review.user.first_name }}&nbsp{{ review.user.last_name }} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Rating: &nbsp{{ review.rating }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Title: &nbsp{{ review.title }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Comment: &nbsp{{ review.comment }}</span>
                            </div>
                        </div>
                        {% if not is_owner and current_user.is_authenticated %}
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        {% if current_user.has_rated_tutor(tutor) %}
                                            <div class="col">
                                                <a href="{{ url_for('main.add_review', tutor_id=tutor.id) }}">Edit review</a><br>
                                            </div>
                                        {% else %}
                                            <div class="col">
                                                <a href="{{ url_for('main.add_review', tutor_id=tutor.id) }}">Write a review<a/><br>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if prev_url %}
                                            <div class="col">
                                                <a href="{{ prev_url }}">Previous page</a>
                                            </div>
                                        {% endif %}
                                        {% if next_url %}
                                            <div class="col">
                                                <a href="{{ next_url }}">Next page</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" data-modal-color="#191B1C"
    aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalLabel">Send a message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
