{% extends 'layout.html' %}

{% block content %}
<form action="{{ url_for('settings') }}" method="POST">
    {{ form.csrf_token() }}
    <div class="container">
        <div class="row">
            <div class="col">{{ form.current_password.label }}</div>
            <div class="col">{{ form.current_password }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form.new_password.label }}</div>
            <div class="col">{{ form.new_password }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form.new_password_2.label }}</div>
            <div class="col">{{ form.new_password_2 }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form.save }}</div>
        </div>
    </div>
</form>
{% endblock %}